.MessageList {
    width: 100%;
    height: 60vh;
    border: 2px solid black;
    overflow: auto;

    .d-flex {
        width: 100%;
        display: flex;
    }

    .flex-end {
        justify-content: flex-end;
    }

    .f-style {
        font-style: italic;
        font-size: .8rem;
    }
}