.Button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    

    &.success {
        background-color:lightgreen;
    }
    &.error {
        background-color: rgb(206, 134, 134)
    }
    &.warn {
        background-color: rgb(214, 214, 148);
    }
}