.Header {
    width: 100%;
    height: 6vh;
    margin-bottom: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-style: italic;
    
    &_primary {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
}